*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
    --header: 3em;
    --subheading: 1.3em;
    --button: 1.2em;
    --h2: 2em;

    --imgwidth: 170px;
    --imgheight: 170px;

    --bg: #fef1ec;
    --formbg: #fcdfd4;
    --txt: #030902d8;
    --cbutton: #f69d79;
    --sbutton: #f5c0ab;
    --accent: #ff9999;
}
h1{
font-size: var(--header);
color: var(--txt);
font-weight: 600;
}
h2{
    /* font-size: var(--subheading); */
    font-size: var(--h2);
    font-weight: 600;
}
h3, p{
font-size: var(--subheading);
padding: 20px;
margin: auto;
color: var(--txt);
font-weight: 300;
}
html{
scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 0;
}
::selection{
    color: rgba(0, 0, 0, 0.527);
    background-color: var(--accent);
}
body{
    background: var(--formbg);
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type="radio"]{
    transform: scale(1.3);
}
input{
    font-size: var(--subheading);
}
form{
    text-align: center;
}
.name{
    margin-bottom: 15px;
}
.header{
    text-align: center;
    padding: 30px;
}
.header h1{
    padding-bottom: 10px;
}
.header h2{
    font-weight: 300;
}
form .details{
    width: 100%;
    text-align: center;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 45px;
}
label{
    font-weight: 300;
    padding: 10px;
    font-size: var(--button);
}
input[type="text"]{
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 10px;
}
.position{
    margin: 20px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #fac7b3;
    border-radius: 12px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.137);
}
.position h2{
    text-align: center;
}
.cands{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.candidate{
    margin: 15px;
    /* flex-basis: 100%; */
    flex: 0%;
    text-align: center;
}
img{
    margin: 15px;
    width: var(--imgwidth);
    height: var(--imgheight);
}
button{
    padding: 14px 20px;
    width: 90%;
    font-weight: 600;
    margin: auto;
    outline: none;
    border: none;
    border-radius: 6px;
    margin-bottom: 30px;
    background: #ffcab5;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.137);
    font-size: var(--button);
}
.specialheading{
    margin: 30px;
    margin-bottom: 5px;
}
.newh2{
    font-weight: 300;
    width: 75%;
    margin-bottom: 20px;
}
.specialbutton{
    text-decoration: none;
    color: black;
    padding: 14px 20px;
    font-weight: 600;
    margin: auto;
    outline: none;
    border: none;
    border-radius: 16px;
    margin-bottom: 30px;
    background: #ffcab5;
    
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.137);
    font-size: var(--button);
}
 @media screen and (max-width: 500px) {
    .form .column {
      flex-wrap: wrap;
    }
    .form :where(.gender-option, .gender) {
      row-gap: 15px;
    }
  }
@media (max-width: 1200px){
    .container{
        width: 80vw;
    }
    :root{
        --header: 2.7em;
        --subheading: 1.2em;
        --button: 1.2em;      
    }
}@media (max-width: 1000px){
    :root{
        --header: 2.6em;
        --h2: 1.5em;
        --subheading: 1em;
        --button: 1.2em;      
    }
}@media (max-width: 700px){
    .container{
        padding: 50px 15px;
        width: 90vw;
    }
    :root{
        --header: 1.8em;
        --subheading: 1em;
        --button: 1.2em;
        --h2: 1.3em;      
    }
}